@model MoYobuDb.Models.Tables.User

@{
    ViewData["Title"] = "title";
    Layout = "_Layout_USER_VISIT";
}


<div class="profil-left">


    <div class="profil-aboutMe">
        @Html.DisplayFor(model => model.desciption)
    </div>

    <div class="fav-box">
        <h2>Oblibené anime</h2>
        <div class="favourite">
            @if (Model.favouritesAnime != null)
            {
                int max = 3;
                if (Model.favouritesAnime.Count < 3)
                {
                    max = Model.favouritesAnime.Count;
                }
                @for (int i = 0; i < max; i++)
                {
                    @*TODO: Ošetřit, že pokud nebude mít anime obrázek ukáže no image obrázek*@
                    <div class="img-box">
                        <p class="name">@Html.DisplayFor(model => model.favouritesAnime[i].romajiTitle)</p>
                        @if (Model.favouritesAnime[i].coverImage.Split("/")[0] == "uploads")
                        {
                            <img src="~/@Model.favouritesAnime[i].coverImage" alt="Anime cover image"/>
                        }
                        else
                        {
                            <img src="@Model.favouritesAnime[i].coverImage" alt="Anime cover image"/>
                        }
                    </div>
                }
            }

        </div>
    </div>
    <div class="fav-box">
        <h2>Oblibená manga</h2>
        <div class="favourite">
            @if (Model.favouritesManga.Count > 0)
            {
                int max = 3;
                if (Model.favouritesManga.Count < 3)
                {
                    max = Model.favouritesManga.Count;
                }
                @for (int i = 0; i < max; i++)
                {
                                    @*TODO: Ošetřit, že pokud nebude mít anime obrázek ukáže no image obrázek*@
                    <div class="img-box">
                        <p class="name">@Html.DisplayFor(model => model.favouritesManga[i].romajiTitle)</p>
                        @if (Model.favouritesManga[i].img.Split("/")[0] == "uploads")
                        {
                            <img src="~/@Model.favouritesManga[i].img" alt="Manga cover image"/>
                        }
                        else
                        {
                            <img src="@Model.favouritesManga[i].img" alt="Manga cover image"/>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="profil-right">
    <div class="history-box">
        <h2>Anime</h2>
        <div class="history">
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
        </div>
    </div>

    <div class="history-box">
        <h2>Manga</h2>
        <div class="history">
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
            <div class="img-box">
                <p class="name">Log Horizon</p>
                <img src="~/images/cover.jpg" alt="AnimeName"/>
            </div>
        </div>
    </div>
</div>