@using Castle.Core.Internal
@using Microsoft.AspNetCore.Identity
@model MoYobuDb.Models.Tables.Anime
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Detail anime";
    Layout = "_Layout_ANIME";
    //var characters = ViewData["Characters"] as List<Character>;
    //var animeListModel = new AnimeList();
}
@*
TODO: Přidat, aby se zobrazovala, zda uživatel má anime v listu nebo ne
TODO: Přidat přidání do oblíbených
*@


<div class="overview">
    <div class="category">
        <h3>
            <a asp-action="Characters" asp-route-id="@Model.animeId" asp-route-name="@Model.romajiTitle">Postavy</a>
        </h3>
        <div class="category-wrap char">

            @if (Model.characters.Count > 0)
            {
                int max = 10;
                if (Model.characters.Count < 10)
                {
                    max = Model.characters.Count;
                }
                for (int i = 0; i < max; i++)
                {
                    <div class="img-wrap">
                        <a asp-controller="Characters" asp-action="Details" asp-route-id="@Model.characters[i].characterId">
                            <div class="img-box">
                                <p class="name">@Html.DisplayFor(model => model.characters[i].name)</p>
                                <p class="role">@Html.DisplayFor(model => model.characters[i].surname)</p>
                                @* <img src="@Html.DisplayFor(model => model.characters[i].mediumImgUrl)" alt="Charakter"/> *@
                                @if (Model.characters[i].mediumImgUrl.IsNullOrEmpty())
                                {
                                    <img src="~/images/noimg.png" alt="Voice actor"/>
                                }
                                else if (Model.characters[i].mediumImgUrl.Split("/")[0] == "uploads")
                                {
                                    <img src="~/@Html.DisplayFor(model => model.characters[i].mediumImgUrl)" alt="Voice actor"/>
                                }
                                else
                                {
                                    <img src="@Html.DisplayFor(model => model.characters[i].mediumImgUrl)" alt="Voice actor"/>
                                }
                            </div>
                        </a>
                        <div class="img-box">
                            <p class="name">@Html.DisplayFor(model => model.characters[i].voiceActor.name)</p>
                            <p class="role">@Html.DisplayFor(model => model.characters[i].voiceActor.surname)</p>
                            @if (Model.characters[i].voiceActor != null)
                            {
                                if (Model.characters[i].voiceActor.img.IsNullOrEmpty())
                                {
                                    <img src="~/images/noimg.png" alt="Voice actor"/>
                                }
                                else if (Model.characters[i].voiceActor.img.Split("/")[0] == "uploads")
                                {
                                    <img src="~/@Html.DisplayFor(model => model.characters[i].voiceActor.img)" alt="Voice actor"/>
                                }
                                else
                                {
                                    <img src="@Html.DisplayFor(model => model.characters[i].voiceActor.img)" alt="Voice actor"/>
                                }
                            }

                            @* <img src="~/images/noimg.png" alt="Voice actor"/> *@
                        </div>
                    </div>
                }
            }

        </div>
    </div>
    <div class="category">
        <h3>
            <a asp-action="Staffs" asp-route-id="@Model.animeId" @Model.romajiTitle>Kdo na tom pracoval</a>
        </h3>
        <div class="category-wrap voice">
            @if (Model.staffs.Count > 0)
            {
                int max = 9;
                if (Model.staffs.Count < 9)
                {
                    max = Model.staffs.Count;
                }
                for (int i = 0; i < max; i++)
                {
                    <div class="img-box">
                        <p class="name">@Html.DisplayFor(model => model.staffs[i].nameNative)</p>
                        <img src="~/images/noimg.png" alt="Charakter"/>
                    </div>
                }
            }
        </div>
    </div>
    <div class="category">
        <h3 class="rew-head">
            <a asp-action="Reviews" asp-route-id="@Model.animeId" asp-route-name="@Model.romajiTitle">Recenze</a>
        </h3>
        &nbsp;

        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Reviewer")))
        {
            <h3 class="rew-head add">
                <a asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.animeId" asp-route-table="animes" asp-route-nameId="anime_id">Přidat recenzi</a>
            </h3>
        }
        <div class="category-wrap rew">
            @if (Model.reviews.Count > 0)
            {
                int max = 3;
                if (Model.reviews.Count < 3)
                {
                    max = Model.reviews.Count;
                }
                for (int i = 0; i < max; i++)
                {
                    <div class="rew-box">
                        <a asp-controller="Reviews" asp-action="Details" asp-route-id="@Model.reviews[i].reviewId">
                            <div class="rew-box-title">@Html.DisplayFor(model => model.reviews[i].title)</div>
                            <br>
                            <div class="rew-box-text">
                                @Html.DisplayFor(model => model.reviews[i].content)
                            </div>
                        </a>
                        <br>
                        <div class="rew-box-name">
                            <a asp-controller="User" asp-action="Index" asp-route-username="@Model.reviews[i].user.username">
                                @Html.DisplayFor(model => model.reviews[i].user.username)
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
